.overlay-gif {
    position: relative;
    z-index: 1;
}

.overlay-span {
    position: absolute;
    top: 54px;
    left: 54px;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    z-index: 2;
}

body {
    background-color: #f0f0f0;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.bg-primary-subtle {
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    margin-top: 20px;
}

input[type="text"] {
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    padding: 8px;
    margin-top: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

body {
    background-image: url('https://sujarhadaa.github.io/WorstUX/assets/Image/bgmain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}