#emailcheck:hover {
    cursor: not-allowed;
}

.letter {
    position: absolute;
    top: 0;
    left: calc(10% + (80% * var(--random-left)));
    font-size: 2em;
}

.playfield {
    position: relative;
    height: 6em;
    width: 100%;
}

@keyframes flyX {
    0% {
        left: 100%;
        top: 10%;

    }

    25% {
        left: 75%;
        top: 20%;

    }

    50% {
        left: 50%;
        top: 100%;

    }

    75% {
        left: 25%;
        top: 20%;

    }

    100% {
        left: -20%;
        top: 50%;

    }

}

input:checked+label {
    opacity: 0;
    transition: 0.5s;
    z-index: -2;
}

.target:nth-last-of-type(1) {
    animation: flyX 1s linear 0s infinite;
    cursor: url(/assets/Image/aim.png), text;
}

.target:nth-last-of-type(2) {
    animation: flyX 1s linear 1s infinite;
    cursor: url(/assets/Image/aim.png), text;
}

.target:nth-last-of-type(3) {
    animation: flyX 1s linear 2s infinite;
    cursor: url(/assets/Image/aim.png), text;


}

.course {
    cursor: url(/assets/Image/aim.png), text;
    overflow: hidden;
}


input+label {

    position: absolute;
    left: -100px;
    z-index: 3;
    width: 100px;
    height: 100px;
    background: url(/assets/Image/target.png) no-repeat;

}




form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}



/* 

.vanish:hover button {
    transition: 4s;
    transition-delay: 1s;
    transform: translateX(50px);
    opacity: 0;
    filter: blur(10px);
}

.vanish img {
    width: 100%;
    height: 2em;
   
   
}

.vanish:hover img {
    transform: translateX(400px) scale(1);
} */

.vanish {
    position: relative;
    transform-origin: left;
}

.noise {
    transform: scaleX(0);
    transform-origin: left;
    height: 2em;
}